* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* ICONS */
.nav--user-options .bi {
  text-decoration: none;
  padding: 10px 28px;
  border: 0;
  color: #000;
  font-size: 30px;
}
div .bi {
  cursor: pointer;
}

.no-results {
  margin-bottom: 20px;
  padding: 10px;
}

/* HEADER */
.header {
  margin-top: 20px;
  margin-bottom: -7px;
  height: 70px;
  background-color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo--header {
  width: 45px;
  height: 30px;
  margin-left: 20px;
}

.sidebar-button {
  display: none;
}

.name--header {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  margin: 10px;

  font-weight: 700;
}

.store-name--header {
  display: flex;
  align-items: center;
}
/* NAV PAGES */
.nav--pages {
  display: flex;
  align-items: center;
  margin-right: -210px;
}
.nav--page-list {
  display: inline;
  font-family: "Poppins", sans-serif;
  list-style: none;
  font-size: 16px;
  margin-right: 70px;
  font-weight: 600;
}

/* NAV USER */
.nav--user-options {
  display: inline;
  margin-left: 10px;
  margin-bottom: -5px;
}

#search-box {
  display: none;
}
#search-box.active {
  margin-top: 8px;
  width: 320px;
  height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: absolute;
  right: 40px;
  border-radius: 20px;
  border: #333 solid 1px;
}

#search-box .search-btn--opened {
  padding: 0px 20px;
  height: 40px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#search-box .close-search {
  padding: 0px 20px;
  height: 40px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#search-box i {
  font-size: 18px;
}

#search-box .search-input {
  margin-top: 3px;
  border: none;
  outline: none;
  padding: 0px 10px;
  border-bottom: #000000 1px solid;
  width: 240px;
  height: 80%;
}
.nav--page-list-link {
  padding-right: 15px;
  display: inline;
  font-style: normal;
  text-decoration: none;
  color: black;
  list-style: none;
  padding: 5px;
}

/* COVER IMAGE  */
.shop-cover {
  background-image: url("./../img/shopeCover.png");
  height: 316px;
  background-position: center;
  width: 100%;
  background-size: cover;
}
.shop-cover--text {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-top: 126px;
}
/* Vector */
.path-icon {
  margin-bottom: -2px;
}

.shop-title {
  font-weight: 500;
  font-size: clamp(24px, 4vw, 48px);
}

.shop-title--path {
  font-size: 16px;
  font-weight: 300;
}

.shop-title--path-highlight {
  font-weight: 500;
  margin-right: 3px;
}

#current-path {
  margin-left: 2px;
}

/* filter section */
.filter-section {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #f9f1e7;
}
.filter-section .bi {
  margin-left: 20px;
  font-size: 30px;
  align-self: center;
  line-height: 20px;
}

#filter-box {
  display: none;
}

#filter-box.active {
  display: block;
  position: absolute;
  background-color: white;
  left: 30px;
  width: 380px;
  height: 120px;
  border-radius: 10px;
  border: 2px solid #0000001f;
  z-index: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 20px 0px;
}
#minPrice,
#maxPrice {
  align-items: center;
  justify-content: center;
  align-content: center;
  border: 0;
  border-bottom: #000 1px solid;
  height: 20px;
  width: 100px;
  display: flex;
  flex-wrap: nowrap;
  padding: 0px 5px;
  margin: 0px 10px;
}
#filter-box span {
  display: flex;
}

#apply-filter {
  border: 0;
  outline: 0;
  border-bottom: #000 solid 1px;
  background-color: #fff;
  height: 20px;
  padding: 0px 5px;
  cursor: pointer;
}

#order-buttons {
  display: flex;
}

#order-alpha,
#order-price-higher,
#order-price-lower,
#clear-filters {
  font-size: 16px;
  margin: 0px 10px;
  padding: 0px 5px;
  border: #cfcfcf solid 2px;
  cursor: pointer;
  border-radius: 10px;
}

#order-alpha:hover,
#order-price-higher:hover,
#order-price-lower:hover,
#clear-filters:hover {
  background-color: #d3d3d3;
}

#order-alpha.active,
#order-price-higher.active,
#order-price-lower.active {
  background-color: #d3d3d3;
  border-bottom: #000 solid 1px;
}

.filter-text {
  display: inline;
  margin-top: 2px;
  position: absolute;
  align-items: center;
  border-right: #9f9f9f solid 1px;
  height: 32px;
  padding: 0px 5px;
  padding-right: 20px;
}
.filter-text--description {
  position: absolute;
  margin-top: 2px;
  margin-left: 80px;
}

#showQtd {
  background-color: #ffff;
  width: 55px;
  height: px;
  padding: 16px 20px;
  margin-right: 80px;
  margin-left: 8px;
  cursor: pointer;
}
#showQdt-options {
  display: none;
}

#showQdt-options.active {
  display: flex;
  position: absolute;
  background-color: white;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 150px;
  right: 30px;
  width: 150px;
  height: 80px;
  border-radius: 10px;
  border: 2px solid #0000001f;
  z-index: 1;
}

.showBtn {
  font-size: 16px;
  background-color: #fff;
  justify-content: center;
  margin: 0px 10px;
  padding: 0px 5px;
  width: 40px;
  display: flex;
  border: #cfcfcf solid 2px;
  cursor: pointer;
  border-radius: 10px;
}

/* PRODUCTS */
#product-results {
  font-size: 20px;
  font-weight: bold;
  margin: 30px;
}
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px 5%;
}
.product {
  padding-bottom: 15px;
  margin: 40px;
  width: 300px;
  text-align: left;
  align-self: center;
  position: relative;
  background-color: #f4f5f7;
}
.product-text {
  margin: 0px 10px;
}

.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
}
.price {
  font-weight: bold;
  color: #333;
}
.old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 0.9em;
  margin-left: 8px;
  float: right;
  margin-top: -24px;
}
.discount,
.tag {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: #e97171;
  color: #fff;
  text-align: center;
  padding-top: 7px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 16px;
}

.tag {
  background-color: green;
}
.show-details {
  pointer-events: none;
  visibility: hidden;
  display: none;
}

.product:hover {
  .show-details {
    pointer-events: visible;
    position: absolute;
    visibility: visible;
    background-color: #3a3a3aab;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}

.show-details--btn {
  background-color: #fff;
  padding: 10px 45px;
  text-decoration: none;
  color: #b88e2f;
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
}

.show-details--options {
  padding: 4px;
  margin-top: 15px;
  display: flex;
  align-self: center;
  justify-content: center;
}
.show-details--options a {
  padding: 0 10px;
  text-decoration: none;
  color: #fff;
}

.show-details--options img {
  width: 16px;
  margin-right: -3px;
  margin-top: 4px;
  margin-left: 3px;
  display: flex;
  float: left;
}
/* PAGINATION */
#pagination {
  align-items: center;
  justify-content: center;
  display: flex;
}

#side-bar {
  display: none;
}

#pagination button {
  width: 60px;
  height: 60px;
  margin: 10px 38px;
  border-radius: 10px;
  border: 0;
  background-color: #f9f1e7;
  cursor: pointer;
}

#pagination button.active {
  background-color: #b88e2f;
  color: #fff;
}
/* Bundle */
.benefits-bundle {
  background-color: #faf3ea;
  height: 270px;
  align-content: center;
}
.benefits-bundle div {
  align-items: center;
  align-content: center;
  text-align: left;
  flex-wrap: wrap;
  padding-right: 80px;
  justify-content: space-between;
}

.bundle--high-quality {
  margin-left: 50px;
  display: flex;
}
.bundle--high-quality div {
  width: clamp(300px, 10vw, 350px);
  text-align: left;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.bundle-images {
  margin-right: 15px;
  width: clamp(40px, 12vw, 60px);
  height: clamp(40px, 12vw, 60px);
  float: inline-start;
}

.bundle--titles {
  font-size: clamp(16px, 2vw, 25px);
  font-weight: bolder;
  white-space: nowrap;
  display: flex;
}

.bundle--description {
  display: flex;
  font-size: clamp(12px, 2vw, 20px);
  color: #898989;
  white-space: nowrap;
}

/* Footer */
.footer {
  text-align: left;
  margin-left: clamp(30px, 3vw, 120px);
  margin-top: 50px;
  border-bottom: #9f9f9f solid 1px;
  display: flex;
  padding-bottom: 60px;
  flex-wrap: wrap;
}

.footer--title {
  font-size: clamp(16px, 3vw, 24px);
  font-weight: bold;
  margin-bottom: 60px;
}

.footer--title-address {
  max-width: 250px;
  text-align: justify;
}
.footer--title-address,
.footer--title-links {
  margin-bottom: 50px;
  color: #9f9f9f;
  font-size: clamp(10px, 3vw, 16px);
  margin-right: 300px;
}

.footer--links {
  padding-bottom: clamp(20px, 3vw, 40px);
  margin-right: 90px;
  font-size: clamp(10px, 3vw, 16px);
  font-weight: 600;
  display: flex;
  color: #000;
  text-decoration: none;
  flex-direction: column;
}

#email-field {
  border: none;
  border-bottom: #000 solid 1px;
  margin-right: 10px;
  width: 200px;
  outline: none;
}

#button-subbmit {
  background-color: #ffff;
  border: none;
  border-bottom: #000 solid 1px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

/* MOBILE */
@media (max-width: 600px) {
  * {
    scrollbar-width: initial;
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
  }
  .header {
    flex-direction: column;
    height: 110px;
  }

  .sidebar-button {
    display: flex;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    padding-left: 4px;
    margin-top: 10px;
    cursor: pointer;
  }
  .logo--header {
    margin-left: 0;
  }

  #side-bar.active {
    display: flex;
  }

  .nav--pages {
    justify-content: center;
  }
  .nav--page-list {
    display: none;
  }

  .nav--user-options {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  #nav--user-options-icons {
    margin: 0;
    padding-left: clamp(20px, 8vw, 50px);
    padding-right: clamp(20px, 8vw, 50px);
  }
  .shop-cover {
    height: 250px;
  }
  .filter-section {
    text-align: center;
    height: 50px;
  }
  .filter-text {
    border: 0;
  }
  .filter-text--description {
    display: none;
  }
  #filter-icon img {
    margin-left: 30px;
  }

  #showQtd {
    margin-right: 20px;
    padding: 5px 10px;
  }

  .products {
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .product {
    align-self: center;
  }
  .footer {
    flex-direction: column;
  }
  .footer--title-address {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
  }
  .footer--title-links {
    padding-top: 10px;
    border-top: #9f9f9f solid 2px;
  }
  .benefits-bundle {
    flex-direction: column;
    text-align: left;
    margin: 0;
    height: 320px;
  }
  .benefits-bundle div {
    margin: 0;
    flex-direction: column;
  }
  .bundle--high-quality div {
    width: 200px;
    padding: 0;
    padding-bottom: 20px;
  }
  .bundle--titles {
    margin: 0;
    white-space: wrap;
  }
  .bundle--description {
    white-space: wrap;
  }
  #pagination button {
    margin: 10px 10px;
  }
}

/* TABLETS */

@media (max-width: 1028px) {
  .sidebar-button {
    display: flex;
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    padding-left: 4px;
    margin-top: 6px;
    cursor: pointer;
  }
  #side-bar.active {
    display: block;
    background-color: #fff;
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
  .header-sidebar {
    background-color: #f9f1e7;
    height: 50px;
    line-height: 50px;
    margin-left: -30px;
    margin-top: -18px;
    padding-top: 10px;
  }
  #side-bar i {
    font-size: 40px;
    right: 20px;
    position: absolute;
  }
  #side-bar.active a {
    display: flex;
    border: #00000034 solid 1px;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    padding-left: 20px;
    flex-direction: column;
    font-size: 30px;
  }
  .logo--header {
    margin-left: 50px;
  }
  .nav--pages {
    justify-content: center;
  }
  .nav--page-list {
    display: none;
  }

  .products {
    margin: 5px -20px;
    padding: 10px 40px;
    justify-content: space-around;
  }

  .benefits-bundle {
    height: 420px;
  }
  .nav--user-options {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .filter-text {
    border: 0;
  }
  .filter-text--description {
    display: none;
  }
  #pagination button {
    margin: 10px 10px;
  }
}
